.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

#cellCanvas {
    position: absolute;
    left: 0px;
    top: 50px;
}

.control {
    position: relative;
    left: 1250px;
    top: 20px;
}

#reset {
    position: absolute;
    left: 0px;
    top: 150px;
}

#start {
    position: absolute;
    left: 50px;
    top: 150px;
}

#save {
    position: absolute;
    left: 93px;
    top: 150px;
}
